.test {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}
.test:hover {
  background-color: red;
}

.test2 {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}

/*# sourceMappingURL=style.css.map */
