$largeur: 100px;

.test{
    width: $largeur;
    height: 100px;
    background-color: aquamarine;

    &:hover{
        background-color: red;
    }
}
.test2{
    width: $largeur;
    height: 100px;
    background-color: aquamarine;
}